# Игнорируем папки настроек IntelliJ IDEA во всем проекте
.idea/
*.iml
*.iws
*.ipr

# Игнорируем папки target и логи во всех сервисах разом (благодаря синтаксису **/)
**/target/
**/logs/

# Конфигурация, системный мусор и Docker
.env
**/docker-data/
.DS_Store
Thumbs.db